:root{
    --orange: #ff4500;
    --black: #000000;
}
*{
    margin: 0%;
    padding: 0%;
    color: var(--orange);
}
.cont{
    
    margin: 0 auto;
    width: 90vw;
    background-color: var(--black);
}
.click{
    display: flex;
    justify-content: center;
    background-color: var(--black) ;
    width: 100%;
    font-size: 30px;
    padding: 9px 15px 9px 15px;
    color: var(--orange);
    border-radius: 30px;
    border: 2px solid var(--orange);
    margin-top: 10px;
    outline: none;
    text-decoration: none;
}



/* .page.newpage{
    transform: scaleY(1);
} */