
:root{
  --orange: #fa9200;
  --black: #000000;
}

* { 
  margin : 0;
  padding: 0;
  box-sizing : border-box;
}

.section2{
  display : flex;
  align-items : center;
  justify-content : center;  
  background-color: var(--black);
  min-height : 800px;

}

.event{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 7em;
  text-decoration: underline;
}

.container {
  position : relative;
  width : 1100px;
  display : flex;
  align-items : center;
  justify-content : center;
  flex-wrap:wrap;
  padding : 10px;  
}

.container .card {
  position: relative;
  max-width : 170px; /*adjust per image */
  height : 160px;  
  background-color : var(--orange);
  margin : 15px 15px;
  padding : 30px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px var(--orange);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container .card:hover {
  height : 200px;    
}


.container .card .image {
  position : relative;
  width : 128px;
  height : 128px;
  background: rgb(255, 197, 149);
  top : -40%;
  left: 0px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.container .card .content {
  position : relative;
  top : -140px;
  padding : 10px 15px 10px 10px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
  
  font-family : "Poppins", sans-serif;
}

.container .card:hover .content {
  margin-top : 30px;
  visibility : visible;
  opacity : 1;
  transition-delay: 0.2s;
  
}

.view{
  position: relative;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-items: center;
  /* text-align: center; */
  margin: 70% 16% 0%;
  padding: 0px 15px 0px 15px;
  text-decoration: none;
  overflow: hidden;
  font-family: 'Montserrat';
}
.view::before{
  content: '';
  position: absolute;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--black);
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}
.view::after{
  content: '';
  position: absolute;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  top: 0;
  right: 0;
  background: var(--black);
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.view:nth-child(2)::before,
.view:nth-child(2)::after{
  background-color: var(--black);
}

.view:hover::before,
.view:hover::after{
  width: 50%;
  /* transition-delay: 0.5s; */
}

.view span{
  position: absolute;
  z-index: 1;
  color: var(--orange);
  font-size: 25px;
  transition: 0.5s;
}
.view span:nth-child(1){
  transition-delay: 0.75s;
  /* color: #000; */
}
.view:hover span:nth-child(1){
  transform: scale(0);
  transition-delay: 0s;
}

.view span:nth-child(2){
  /* transition-delay: 0.75s; */
  transform: scale(3);
  opacity: 0;
  color: #fff;
  transition-delay: 0s;
}
.view:hover span:nth-child(2){
  transform: scale(1);
  transition-delay: 0s;
  opacity: 1;
  z-index: 10;
  color: #fff;
  transition-delay: 0.5s;
}