@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --orange: #fa9200;
    --black : #141414;
}

 .navnot{
    
    /* position: fixed;
    color: var(--orange);
    width: 100%;
     margin-left: -1%;
    margin-top: -0.6%; 
    height: 60px; */
    display: none;



    
} 

/* *{
    font-family: 'Montserrat', sans-serif;
  } */
 .navnav {
    
    position: fixed;
    top: 0;
    /* width: 100vw; */
    width: 100%;
     margin-left: -1%;
    margin-top: -0.6%; 
    height: 60px;
    /* background: linear-gradient(45deg, var(--orange), #992900); */
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
    
    
}

.navnav img{
    width: 42px;
    height: 40px;
    z-index: 1;
    position: fixed;
    background:#252525;
    
     margin-top: 1%;
    margin-left: 10%; 
}

.zealous{
    
    color: var(--black);
    transform: translateX(45%);
    padding-left: 1%;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    
    
    
}

.list {
    list-style-type: none;
    /* background: linear-gradient(45deg, var(--orange), #992900); */
    background-color: #252525;
    height: 100%;
    display: flex;
    color: var(--black);
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    
}

#items {
    margin-right: 20px;
    font-size: 1.8em;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #252525;
}

.navcolor{
    color: var(--orange);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    
}

.btnnav {
    display: none;
    position: absolute;
    right: 15px;
    top: 7px;
    width: 40px;
        height: 60px;
        background: url('../../images/menu.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
        
}

@media screen and (max-width: 750px){
    .list {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
        
        
    }
    .navcolor{
        font-size: 40px;
        
    }
    .items:nth-child(1){
        
        margin-top: 50px;
    }
    .items {
        width: 100%;
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
        
    }
    .btnnav {
        display: block;
        margin-top: -10px;
        

    }    
}
@media (max-width: 750px) {
    .navnav{
        height: 60px;
        background-color: #252525;
        padding-top: 1.5%;
    }

}
