

.main{
    margin-top: 1100px;
    width: 100vw;
    background-color: #141414;
}
.head{
    z-index: 200;
    position: absolute;
    height: 500px;   
    top: 0;
    width: 100vw;
}
.loader{
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    /* text-align: center;
    justify-content: center;
    align-items: center;
    display: flex; */
}
.bg{
    
    z-index: -1;
    filter: blur(8px);
    z-index: -1;

}