

.main{
    margin-top: 1100px;
    width: 100vw;
    
    
}

.bgmain{
    overflow: hidden;
}

/* @media (max-width: 800px) {
*/.bgmain::-webkit-scrollbar {
 display: none;
  }
  .bgmain {
    -ms-overflow-style: none;  /* IE and Edge */
   /* scrollbar-width: none;  /* Firefox */
  /*}
} */
  }
.themap{
    position: fixed;
    background-color: #01010101;
    border: 2px solid #fa9200;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 90px;
    z-index: 1100;
    padding: 9px;
}
.themap:hover{
    background-color: #000000;
}

.head{
    
    position: absolute;
    height: 500px;   
    top: 0;
    width: 100vw;
    z-index: 1000;
}
.loader{
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    /* text-align: center;
    justify-content: center;
    align-items: center;*/
}
