@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root{
    --orange: #fa9200;
    --black: #000000;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat';
    
}

/* .project{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 100vw;
} */
.project{
    
    
    /* z-index: 1000; */
    width: 100%;
    padding: 0;
     margin-left: -1%;
    margin-top: -1%;
    /* background-image:linear-gradient(
        rgba(51, 50, 50, 0.45), 
        rgba(39, 38, 38, 0.45)
      ),  url('../../images/bg4.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.logo{
    width: 50%;
}


.sec{
    /* scroll-snap-align: start; */
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1{
    min-height: 100vh;
    /* scroll-snap-align: start; */
}
#sec1{
    /* background: url('../../images/bg1.png');   */
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background-color: black; */
}
.scroll{
    height: 20vh;
    width: 35vw;
    /* border-bottom: 3px solid var(--orange); */
    position: absolute;
    left: 32.5%;
    /* bottom: 5%; */
    border-radius: 30px;
    /* transform: rotate(45deg); */

}

/* .boxx1,
.boxx2{
    content: '';
    position: absolute;
    display: inline-block;
    top: 10%;
    left: 50%;
    margin-left: auto; 
    margin-right: auto;
    border: 2px solid var(--orange);
    height: 80px;
    width: 80px;
    transform: translate(-50%,-100%) rotate(45deg);
    animation: scroll 1s ease-in-out infinite;
    /* transform: rotate(45deg); */
 /*   border-top: transparent;
    border-left: transparent;
}

.boxx2{
    top: 20%;
    animation-delay: 0.3s;
} */

.logocont{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
 p{
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.title{
    font-size: 5em;
    color: var(--orange);
    font-family: 'Roboto', sans-serif;
}
.caption{
    font-size: 2em;
    color: var(--orange);
    font-family: 'Montserrat';
}
@keyframes scroll{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top:90%
    }

}
@media (max-width:750px) {
    
    

    .title{
        font-size: 4.5em;
    }
    .caption{
        font-size: 1.5;
    }
    .logo{
        width: 40%;
    }
    .logocont{
        margin-top: -70%;
    }
}

