*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    min-height: 1000px;
}
header{
    position:fixed ;
    width: 100vw;
    background: url(../../images/bg.jpg);
    display: flex;
    
    align-items: center;
    transition: 1s;
    height: 80px;
}
/* header.sticky{
} */
header .main-bg{
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    /* background-color: black; */
}

header .zealous{
    position: absolute;
    transform: translateX(0px);
    font-size: 10vw;
    z-index: 100;
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 2em;
    left: 7%;
    opacity: 1;
}

nav{
    position: relative;
    display: flex;
    z-index: 1;
}
nav ul{
    position: relative;
    display: flex;
    /* transition: 0.25%; */
    transform: translateX(0px);
    opacity: 1;
    right: 7%;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    color: white;
    display: inline-block;
    padding: 20px 15px;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Montserrat';
}
nav ul li a:hover{
    color: #fa9200;
}

@media (max-width: 600px) {
    header{
        padding: 0px;
    }
    header .zealous{
        left: 40px;
    }
    header .logo .logo1{
        width: 40%;
        top: 50%;
    }
    header .main-bg{
        opacity: 1;
        background-color: black;
    }    
    nav ul{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav.active ul{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    header nav ul{
        opacity: 1;
        visibility: visible;

    }
    nav ul li a{
        font-size: 2em;
    }
    header .toggle{
        position: fixed;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 30px;
        background: url('../../images/menu.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
    }
    header .toggle.active{
        background: url('../../images/close.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
    }
}