@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');


:root{
    --orange: #fa9200;
    --black: #000000;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.project{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 100vw;
}

.sec{
    scroll-snap-align: start;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1{
    min-height: 100vh;
    scroll-snap-align: start;
}
#sec1{
    background: url('./images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    /* background-color: black; */
}
.scroll{
    height: 20vh;
    width: 35vw;
    border-bottom: 3px solid var(--orange);
    position: absolute;
    left: 32.5%;
    bottom: 20px;
    border-radius: 30px;

}
.scroll::before,
.scroll::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    border: 2px solid var(--orange);
    height: 80px;
    width: 80px;
    transform: translate(-50%,-100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll 1s ease-in-out infinite;
}
.scroll::after{
    top: 20%;
    animation-delay: 0.3s;
}

.logocont{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 50%;
}
.title{
    font-size: 5em;
    color: var(--orange);
    font-family:'Roboto';
}
.caption{
    font-size: 2em;
    color: var(--orange);
    font-family: 'Montserrat';
}
@keyframes scroll{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top:90%
    }

}